.article-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: magenta;
}

.article-card:hover {
  background-color: #f9f9f9;
}

.article-card h3 a {
  color: #18c91e;
  cursor: pointer;
}

.article-card h3 a:hover {
  color: #0c3d9e;
}
